Repository Dezzy12/reportcard-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: rc-template, rc-test, rc-dashboard, rc-auth, rc-models, rc-services, rc-components, rc-guards, rc-utils, rc-interceptors, config

.github/labeler.yml:

rc-template:
  - src/app/**/*.html
rc-test:
  - src/app/**/*.spec.js
rc-dashboard:
  - src/app/modules/rc-dashboard/*
rc-auth:
  - src/app/modules/rc-auth/*
rc-models:
  - src/app/models/*
rc-services:
  - src/app/services/*
rc-components:
  - src/app/components/*
rc-guards:
  - src/app/guards/*
rc-utils:
  - src/app/utils/*
rc-interceptors:
  - src/app/interceptors/*
config:
  - ./*.json

change Username to Email in form
  src/app/modules/rc-auth/components/register-student/register-student.component.html
Labels: rc-template

change margin of auth children wrapper
  src/app/modules/rc-auth/components/auth/auth.component.ts
Labels: none

Email changed to Username (#74)
  src/app/modules/rc-auth/components/login/login.component.html
Labels: rc-template

reformat code
  src/app/app.injectables.ts
  src/app/modules/rc-admin/components/admin-admins/admin-add-admin/admin-add-admin.component.spec.ts
  src/app/modules/rc-admin/components/admin-admins/admin-add-admin/admin-add-admin.component.ts
  src/app/modules/rc-admin/components/admin-admins/admin-admins.component.html
  src/app/modules/rc-admin/components/admin-admins/admin-admins.component.spec.ts
  src/app/modules/rc-admin/components/admin-admins/admin-admins.component.ts
  src/app/modules/rc-admin/components/admin-admins/admin-view-admin/admin-view-admin.component.spec.ts
  src/app/modules/rc-admin/components/admin-admins/admin-view-admin/admin-view-admin.component.ts
  src/app/modules/rc-admin/components/admin-setting/admin-setting.component.html
  src/app/modules/rc-admin/components/admin-teachers/admin-add-teacher/admin-add-teacher.component.ts
  src/app/modules/rc-admin/components/admin-teachers/admin-view-teacher/admin-view-teacher.component.ts
  src/app/modules/rc-admin/rc-admin.module.ts
  src/app/modules/rc-dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/rc-dashboard/components/rc-class-lists/rc-class-lists.component.ts
  src/app/modules/rc-dashboard/components/rc-classes/view-class-level/view-class-level.component.ts
  src/app/modules/rc-dashboard/components/rc-settings/rc-settings.component.html
  src/app/modules/rc-dashboard/components/rc-settings/rc-settings.component.ts
  src/app/modules/rc-dashboard/components/rc-students/view-student/view-student.component.ts
  src/app/modules/rc-dashboard/components/rc-subjects/add-subject/add-subject.component.ts
  src/app/modules/rc-dashboard/components/rc-subjects/rc-subjects.component.ts
  src/app/modules/rc-student/components/student-apply/student-apply.component.spec.ts
  src/app/modules/rc-student/components/student-apply/student-apply.component.ts
  src/app/modules/rc-student/components/student-home/student-home.component.html
  src/app/modules/rc-student/components/student-home/student-home.component.ts
  src/app/modules/rc-student/components/student-subjects/student-subjects.component.html
  src/app/modules/rc-student/rc-student.module.ts
  src/app/services/student-class-level.service.spec.ts
Labels: rc-template, rc-services

changed the prod server url
  src/environments/environment.prod.ts
Labels: none

add api methods to get all teachers and students
  src/app/services/user.service.ts
Labels: rc-services

reload user information after successful application creation
  src/app/modules/rc-student/components/student-home/student-home.component.html
  src/app/modules/rc-student/components/student-home/student-home.component.ts
Labels: rc-template

allow selecting a different school through nav
  src/app/modules/rc-reusable/components/top-menu/top-menu.component.ts
Labels: none

block loading school select if schoolId is set
  src/app/modules/rc-dashboard/components/dashboard/dashboard.component.ts
  src/app/modules/rc-dashboard/components/rc-select-school/rc-select-school.component.ts
Labels: none

load users by roles
  src/app/modules/rc-admin/components/admin-users/admin-users.component.html
  src/app/modules/rc-admin/components/admin-users/admin-users.component.ts
Labels: rc-template

give general page margin m2
  src/app/modules/rc-admin/components/admin-dashboard/admin-dashboard.component.ts
Labels: none

use heroku for prod server
  src/environments/environment.prod.ts
Labels: none

Update environment.prod.ts
  src/environments/environment.prod.ts
Labels: none

Update admin-users.component.html
  src/app/modules/rc-admin/components/admin-users/admin-users.component.html
Labels: rc-template

enable switch for admins
  src/app/modules/rc-admin/components/admin-users/admin-users.component.html
Labels: rc-template

feat: formatted the email to return name (#80)
  src/app/modules/rc-student/components/student-home/student-home.component.html
Labels: rc-template
