Repository Dezzy12/reportcard-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: rc-template, rc-test, rc-dashboard, rc-auth, rc-models, rc-services, rc-components, rc-guards, rc-utils, rc-interceptors, config

.github/labeler.yml:

rc-template:
  - src/app/**/*.html
rc-test:
  - src/app/**/*.spec.js
rc-dashboard:
  - src/app/modules/rc-dashboard/*
rc-auth:
  - src/app/modules/rc-auth/*
rc-models:
  - src/app/models/*
rc-services:
  - src/app/services/*
rc-components:
  - src/app/components/*
rc-guards:
  - src/app/guards/*
rc-utils:
  - src/app/utils/*
rc-interceptors:
  - src/app/interceptors/*
config:
  - ./*.json

fix issue reading properties from response objects
  src/app/interceptors/http-response.interceptor.ts
Labels: rc-interceptors

add components to manage admins
  src/app/modules/rc-admin/components/admin-admins/admin-add-admin/admin-add-admin.component.html
  src/app/modules/rc-admin/components/admin-admins/admin-add-admin/admin-add-admin.component.scss
  src/app/modules/rc-admin/components/admin-admins/admin-add-admin/admin-add-admin.component.spec.ts
  src/app/modules/rc-admin/components/admin-admins/admin-add-admin/admin-add-admin.component.ts
  src/app/modules/rc-admin/components/admin-admins/admin-admins.component.html
  src/app/modules/rc-admin/components/admin-admins/admin-admins.component.scss
  src/app/modules/rc-admin/components/admin-admins/admin-admins.component.spec.ts
  src/app/modules/rc-admin/components/admin-admins/admin-admins.component.ts
  src/app/modules/rc-admin/components/admin-admins/admin-view-admin/admin-view-admin.component.html
  src/app/modules/rc-admin/components/admin-admins/admin-view-admin/admin-view-admin.component.scss
  src/app/modules/rc-admin/components/admin-admins/admin-view-admin/admin-view-admin.component.spec.ts
  src/app/modules/rc-admin/components/admin-admins/admin-view-admin/admin-view-admin.component.ts
Labels: rc-template

add components to manage admins
  src/app/modules/rc-admin/components/admin-dashboard/admin-dashboard.component.ts
Labels: none

add components to manage admins
  src/app/modules/rc-admin/rc-admin-routing.module.ts
Labels: none

add components to manage admins
  src/app/modules/rc-admin/rc-admin.module.ts
Labels: none

transfer content for registering admins and teachers into register.component
  src/app/modules/rc-admin/components/admin-teachers/admin-add-teacher/admin-add-teacher.component.html
  src/app/modules/rc-admin/components/admin-teachers/admin-add-teacher/admin-add-teacher.component.ts
  src/app/modules/rc-auth/components/register-student/register-student.component.html
  src/app/modules/rc-auth/components/register/register.component.html
  src/app/modules/rc-auth/components/register/register.component.ts
  src/app/modules/rc-auth/rc-auth.module.ts
Labels: rc-template, rc-auth

add service method for registering admins
  src/app/services/auth.service.ts
Labels: rc-services

add RC_STUDENT_CLASS_LEVEL_API_URL in app.constants.ts
  src/app/app.constants.ts
Labels: none

add RC_STUDENT_CLASS_LEVEL_API_URL with expected matching service to app.injectables.ts
  src/app/app.injectables.ts
Labels: none

change StudentClassLevel prop sub_id to subId in app.types.ts
  src/app/app.types.ts
Labels: none

add complete bool prop to RcSubjectRegistered in app.types.ts
  src/app/app.types.ts
Labels: none

add student-class-level service
  src/app/services/student-class-level.service.ts
Labels: rc-services

add student-class-level service test
  src/app/services/student-class-level.service.spec.ts
Labels: rc-services

add student-apply.component.html
  src/app/modules/rc-student/components/student-apply/student-apply.component.html
Labels: rc-template

add student-apply.component.scss
  src/app/modules/rc-student/components/student-apply/student-apply.component.scss
Labels: none

add student-apply.component.spec.ts
  src/app/modules/rc-student/components/student-apply/student-apply.component.spec.ts
Labels: none

add student-apply.component.ts
  src/app/modules/rc-student/components/student-apply/student-apply.component.ts
Labels: none

add service method for getting student application trials by student and current year
  src/app/services/student-application.service.ts
Labels: rc-services

add service method for getting subjects by school
  src/app/services/subject.service.ts
Labels: rc-services

change sub_id to subId in teacher-class-list.component.ts
  src/app/modules/rc-teacher/components/teacher-class-list/teacher-class-list.component.ts
Labels: none

add student-apply component to student module
  src/app/modules/rc-student/rc-student.module.ts
Labels: none

add table for unregistered subjects
  src/app/modules/rc-student/components/student-subjects/student-subjects.component.html
Labels: rc-template

add methods for registering and unregistering courses
  src/app/modules/rc-student/components/student-subjects/student-subjects.component.ts
Labels: none

add methods to load registered and unregistered subjects
  src/app/modules/rc-student/components/student-subjects/student-subjects.component.ts
Labels: none

complete student-subjects.component.ts
  src/app/modules/rc-student/components/student-subjects/student-subjects.component.ts
Labels: none

change sub_id to subId in student-results.component.ts
  src/app/modules/rc-student/components/student-results/student-results.component.ts
Labels: none

setup dialog to create student application if not exist for this year
  src/app/modules/rc-student/components/student-home/student-home.component.html
Labels: rc-template

complete logic for creating student application in student home
  src/app/modules/rc-student/components/student-home/student-home.component.ts
Labels: none

add complete to RcSubjectRegistered values in view-application.component.ts
  src/app/modules/rc-reusable/components/view-application/view-application.component.ts
Labels: none

rename student.component.html to view-student.component.html
  src/app/modules/rc-dashboard/components/rc-students/view-student/view-student.component.html
Labels: rc-template

rename student.component.scss to view-student.component.scss
  src/app/modules/rc-dashboard/components/rc-students/view-student/view-student.component.scss
Labels: none

rename student.component.spec.ts to view-student.component.spec.ts
  src/app/modules/rc-dashboard/components/rc-students/view-student/view-student.component.spec.ts
Labels: none

rename student.component.ts to view-student.component.ts
  src/app/modules/rc-dashboard/components/rc-students/view-student/view-student.component.ts
Labels: none

change sub_id to subId in rc-class-lists.component.ts
  src/app/modules/rc-dashboard/components/rc-class-lists/rc-class-lists.component.ts
Labels: none

change StudentComponent to ViewStudentComponent in rc-dashboard.module.ts
  src/app/modules/rc-dashboard/rc-dashboard.module.ts
Labels: rc-dashboard

change StudentComponent to ViewStudentComponent in rc-dashboard-routing.module.ts
  src/app/modules/rc-dashboard/rc-dashboard-routing.module.ts
Labels: rc-dashboard

change sub_id to subId in rc-applications.component.html
  src/app/modules/rc-dashboard/components/rc-applications/rc-applications.component.html
Labels: rc-template

change sub_id to subId in rc-applications.component.ts
  src/app/modules/rc-dashboard/components/rc-applications/rc-applications.component.ts
Labels: none

change sub_id to subId in add-application.component.ts
  src/app/modules/rc-dashboard/components/rc-applications/add-application/add-application.component.ts
Labels: none

set max date during registration of student
  src/app/modules/rc-auth/components/register-student/register-student.component.ts
Labels: none
